<!DOCTYPE html>
<html>
    <head>
        <title>DeskTop</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css"  href="resources/css/style.css" />
        <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                    $('.item').click(function(event){
                        event.preventDefault();
                        event.stopPropagation(); 
                        $('.item').find('>div').removeClass('active');
                        $(this).find('>div').addClass('active');
                        });
                    $('.sendemail').click(function(){
                            alert('No realisation');
                        });

                    });
                </script>
            </head>
            <body>
                <div id="container">
                    <div id="top">
                        <div id="enter">
                             <a href="login.cgi">Enter</a>   
                             <a href="registration.cgi">Registration</a> 
                        </div>
                    </div>
                    <div id="header">

                        <form>
                            <p align="center"><input type="text" name="search" size="80"> 
                            <select>
                                <option value="0" disabled selected>All categories</option>
                                {listcat}
                                </select> 
                            <input type="submit" name="" value="search" style="width:80px;"> </p> 
                        </form>
                    </div>
                    <div id="content">{data}
                        <div class="item">
                            <p align="justify"><b>Title</b> 1Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            <div class="desc">
                                <p align="justify"><b>Description</b> 1Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
                                PageMaker including versions of Lorem Ipsum.</p>
                                <br />
                                <div class="message">
                                    <form>
                                        Name: <input type="text" name="name"> 
                                        email: <input type="password" name="pass"> <br /><br />
                                        <textarea cols="80" rows="10"></textarea> <br />
                                        <input type="submit" class="sendemail" value="Send" style="width:100px;"> 
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <p align="justify"><b>Title</b> 2Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            <div class="desc">
                                <p align="justify"><b>Description</b> 2Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
                                PageMaker including versions of Lorem Ipsum.</p>
                                <br />
                                <div class="message">
                                    <form>
                                        Name: <input type="text" name="name"> 
                                        email: <input type="password" name="pass"> <br /><br />
                                        <textarea cols="80" rows="10"></textarea> <br />
                                        <input type="submit" class="sendemail" name="enter" value="Send" style="width:100px;"> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="footer">
                        Design copyright &copy; 2015 HostingMaks by AlexSoft
                    </div>
                </div>
            </body>
        </html>


